<div class="container">
    <%- include('../partials/sidenav/user') %>
    <div class="container__main container__main--sidenav-closed">
        <%- include('../partials/header/user') %>

        <div class="container__main__title flex flex--a-center">
            <img src="/assets/illustrations/note.svg" alt="Note">
            <div class="container__main__title__sep"></div>
            <div class="container__main__title__details">
                <h1>Repair history</h1>
                <p>Monitor all your repair history from here</p>
            </div>
        </div>
        <div class="container__main__center">
            <div class="container__main__center__search">
                <div class="container__main__center__search__search-box input">
                    <input type="text" name="" id="query" placeholder="Search by ref no or issue count">
                    <svg class="image--icon pos--abs pos--vertical">
                        <use href="#search"></use>
                    </svg>
                </div>
                <div class="container__main__center__search__options flex flex--j-space-between">
                    <div class="container__main__center__search__options__filter flex flex--a-center">
                        <!-- <svg class="image--icon">
                            <use href="#filter"></use>
                        </svg>
                        <p>filter by</p> -->
                    </div>
                    <div id="download-report" class="container__main__center__search__options__download flex">
                        <svg class="image--icon">
                            <use href="#download"></use>
                        </svg>
                        <p>Generate CSV Report</p>
                    </div>
                </div>
            </div>

            <div class="card table" style="margin: 3rem 0;">
                <div class="table__header">
                    <ul class="table__header__row flex">
                        <li class="table__header__row__item">#</li>
                        <li class="table__header__row__item">Ref no</li>
                        <li class="table__header__row__item">Issue count</li>
                        <li class="table__header__row__item">Status</li>
                        <li class="table__header__row__item">Request date</li>
                    </ul>
                </div>
                <div class="table__body" id="ticket-list">
                    <ul class="table__body__row"></ul>
                </div>
                <div class="card__body empty flex flex--a-center" id="no-tickets" style="display: none;">
                    <img src="/assets/illustrations/no-data.svg" alt="No data">
                    <div class="empty_caption">
                        <h1>Tickets not found</h1>
                        <p>There aren't any tickets at the moment.</p>
                        <p>Tickets of your repair requets will appear here</p>
                    </div>
                </div>
            </div>

            <button class="btn btn--primary open-ticket-modal">Log repair</button>
        </div>
    </div>
</div>

<script src="/assets/js/dist/jquery.js"></script>

<a download id="download-anchor"></a>

<script type="module">
    import Ticket from "/assets/js/src/auth/Ticket.js"

    $(() => {
        Ticket.get_closed_by_user();

        $('#download-report').on('click', e => {
            Ticket.downloadUserCSV();
        });

        $('#query').on('keyup', e => {
            Ticket.search_done();
        })
    })
</script>