<header class="main main--sidenav-closed flex flex--a-center flex--j-space-between">
    <div class="main__left flex flex--a-center">
        <svg class="image--icon">
            <use href="#menu"></use>
        </svg>
        <h4><%= user_info.type %></h4>
    </div>
    <div class="main__user">
        <p><%= `${user_info.lastname} ${user_info.initials}` %></p>
    </div>
</header>